* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: #87b5b5;
}

.App {
  text-align: center;
  margin: 15px 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.App .title {
  text-align: left;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.preview, .editor {
  padding: 15px;
  border-radius: 5px;
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
  height: 500px;
  width: 100%;
  overflow-y: auto;
}

.preview {
  font-size: 0.8rem;
  padding: 20px;
}

.preview img {
  /* Ensures that the image will not be wider than its container */
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media(min-width: 992px){
  .App {
     grid-template-columns: repeat(2, 1fr);
  }
  .preview, .editor {
    height: 85vh;
  }
}
